<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/norm-styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e958cd86be.js" crossorigin="anonymous"></script> <!-- FONT AWSOME ICONS -->
    <title>LifeWay | Create your account</title>
</head>

<body class="signup-body">
    <div>
        <nav class="signup-nav">
            <div><a class="navbar-logo" th:href="@{/}"><img src="../images/lifewaylogo_navbar.png" alt="LifeWay nav logo"></a></div>
            <div><span><a href="#">Settings</a></span></div>
        </nav>
    </div>
    <hr>
    <section class="account">
        <div class="account-form">
            <!---<form action="#">-->
                <!--<div class="account-data">
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" id="account-firstname" required>
                </div>
                <div class="account-data">
                    <label for="lastname">Last Name</label>
                    <input type="text" name="lastname" id="account-lastname" required>
                </div>
                <div class="account-data">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="account-email" required>
                </div>
                <div class="account-data">
                    <label for="email">Password</label>
                    <input type="text" name="email" id="account-password" required>
                </div>
                <div class="account-data">
                    <label for="city">City</label>
                    <input type="text" name="city" id="account-city" required>
                </div>
                <div class="account-data">
                    <label for="country">Country</label>
                    <input type="text" name="country" id="account-country" required>
                </div>-->
            <form th:object="${customer}" th:action="@{/}" method="post">


                <div class="account-data">
                    <label for="firstName">First Name: </label>
                    <input id="firstName" type="text" th:field="*{firstName}" required/>
                </div>

                <div class="account-data">
                    <label for="lastName">Last Name: </label>
                    <input id="lastName" type="text" th:field="*{lastName}" required/>
                </div>

                <div class="account-data">
                    <label for="email"> e-mail: </label>
                    <input id="email" type="email" th:field="*{email}" required/>
                </div>

                <div class="account-data">
                    <label for="password">Password: </label>
                    <input id="password" type="password" th:field="*{password}" required/>
                </div>

                <div class="account-data">
                    <label for="country">Country: </label>
                    <input id="country" type="text" th:field="*{country}" required/>
                </div>

                <div class="account-data">
                    <label for="city">City: </label>
                    <input id="city" type="text" th:field="*{city}" required/>
                </div>

                <div class="welcome-btn">
                    <div class="welcome-btn-inner"></div>
                    <button type="submit">SUBMIT YOUR INFO</button>
                </div>
            </form>
        </div>
        <div>
            <img class="img-form" alt="imagem" src="../images/route-66.png">
        </div>
    </section>
    
</html>
